@font-face {
    font-family: paper_font;
    src: url("Cocomat Light-trial.ttf");
}
@font-face {
    font-family: heading;
    src: url("Orkney-Light.otf");
}
body{
	font-family: paper_font;
	padding: 60px;
}
.heading{
	font-family: paper_font;
}
a{
	text-decoration: none;
	color: #B24D35;
}
a:hover{
	text-decoration: none;
	color: #638EA1;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type='email']:focus,
.custom_textarea:focus,
.selectpicker:focus {
  border-color: rgba(255, 204, 204, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 204, 204, 0.6);
  outline: 0 none;
}
.author_option:hover{
	color: #B24D35;
}
.custom_button {
  margin: 0 auto;
  font-size: 2.0rem;
  padding: .5rem 1.5rem;
  display: block;
  background-color: #B24D35;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom_button:hover {
  background-color: #ffffff;
  color: #638EA1;
  border-color: #638EA1;
}
#review{
	display: block;
}
h3{
	font-size: 2em;
	display: inline-block;
}

.title_row{
	vertical-align: baseline;
	height: 100%;
}
#home, #logout{
	padding: 10px;
	font-weight: bold;
	font-size: 1.5em;
	box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.8);
}
.fail{
	color: #934B74;
}
